/* src/NavMenu.css */
body {
    margin: 0;
    font-family: 'Comic Sans MS', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    scroll-behavior: smooth;
  }
  
  .nav-menu {
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    padding: 15px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: background-color 0.3s ease, padding 0.3s ease;
  }
  
  .nav-menu.scrolled {
    background: #333;
    padding: 10px 0;
  }
  
  .nav-menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
  .nav-menu ul li {
    margin: 0 20px;
  }
  
  .nav-menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .nav-menu ul li a:hover {
    color: #000000; /* Change font color on hover */
  }
  
  .section {
    padding: 100px 20px;
    text-align: center;
    color: #fff;
    background-size: cover;
    height: 550px;
    background-position: center;
  }
  
  #home {
    background: url('./assets/teddy.jpg') no-repeat center center/cover;
  }
  
  #about {
    background: url('./assets/about.jpg') no-repeat center center/cover;
  }
  
  #games {
    background: url('./assets/games.jpg') no-repeat center center/cover;
  }
  
  #stories {
    background: url('./assets/story.jpg') no-repeat center center/cover;
  }
  
  #contact {
    background: url('./assets/contact.jpg') no-repeat center center/cover;
  }
  
  h1 {
    font-size: 48px;
    margin-bottom: 20px;
    text-shadow: 2px 2px #333;
  }
  
  p {
    font-size: 24px;
    max-width: 600px;
    margin: 0 auto;
    color: #000000;
  }
  