.home {
    text-align: center;
    padding: 50px 20px;
    background-color: #f4f4f4;
  }
  
  .profile-photo {
    width: 400px;
    height: 550px;
    border-radius: 30px;
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 2.5rem;
    color: #333;
  }
  
  .pp {
    font-size: 25px;
    color: #555;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
  }