.skills {
    padding: 50px 20px;
    background-color: #fff;
    text-align: center;
    align-items: center;
  }
  
  h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  li {
    background-color: #ff6347;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  li:hover {
    background-color: #333;
  }

  .skills-section, .certifications-section {
    margin-bottom: 30px;
    width: 700px;
    align-items: center;
    margin-left: 450px;
  }
  
  