.lap-times {
    margin-top: 30px;
    text-align: left;
    padding: 0 20px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .lap-times h2 {
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: #333;
  }
  
  .lap-times ul {
    list-style: none;
    padding: 0;
  }
  
  .lap-times li {
    font-size: 1.2rem;
    margin-bottom: 8px;
    font-family: 'Poppins', sans-serif;
    color: #666;
    padding: 5px 10px;
    background: #f7f7f7;
    border-radius: 10px;
  }
  